.profile-page {
  min-height: 100vh;
  background: #f8fafc;
  padding: 40px;
}

.profile-container {
  max-width: 1200px;
  margin: auto;

  display: grid;
  grid-template-columns: 320px 1fr;

  background: white;
  border-radius: 25px;

  overflow: hidden;

  box-shadow:
    0 15px 40px rgba(0,0,0,.08);
}

/* SIDEBAR */

.profile-sidebar {
  background: #f8fafc;

  padding: 40px;

  border-right: 1px solid #e2e8f0;
}

.avatar-circle {
  width: 130px;
  height: 130px;

  border-radius: 50%;

  background: #16a34a;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 56px;
  font-weight: bold;

  margin-bottom: 20px;
}

.profile-sidebar h2 {
  margin-bottom: 10px;
}

.role-badge {
  display: inline-block;

  background: #dcfce7;
  color: #15803d;

  padding: 8px 15px;

  border-radius: 999px;

  margin-bottom: 30px;
}

.profile-info {
  margin-top: 30px;
}

.info-item {
  margin-bottom: 25px;
}

.info-item strong {
  display: block;
  margin-bottom: 5px;
}

.info-item p {
  color: #64748b;
}

/* RIGHT SIDE */

.profile-main {
  padding: 50px;
}

.profile-header {
  margin-bottom: 40px;
}

.profile-header h1 {
  font-size: 42px;
  margin-bottom: 10px;
}

.profile-header p {
  color: #64748b;
}

.profile-main form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.profile-main input {
  padding: 16px;

  border: 1px solid #cbd5e1;

  border-radius: 12px;

  font-size: 16px;
}

.save-btn {
  margin-top: 15px;

  border: none;

  background: #16a34a;
  color: white;

  padding: 16px;

  border-radius: 12px;

  font-size: 18px;
  cursor: pointer;
}

.save-btn:hover {
  background: #15803d;
}

/* MOBILE */

@media (max-width: 900px) {

  .profile-container {
    grid-template-columns: 1fr;
  }

  .profile-sidebar {
    border-right: none;
    border-bottom: 1px solid #e2e8f0;
  }

  .profile-main {
    padding: 30px;
  }
}

.profile-image {
  width: 120px;
  height: 120px;

  border-radius: 50%;

  object-fit: cover;

  border: 4px solid #16a34a;

  margin-bottom: 20px;
}